$section1-bg: white;
$section2-bg: hsl(179, 62%, 43%);
$section3-bg: lighten(hsl(179, 62%, 43%), 5);
// $section3-bg: hsla(179, 62%, 43%, .7);
$primary-yellow: hsl(71, 73%, 54%);
$primary-cyan: hsl(179, 62%, 43%);
$neutral-gray: hsl(204, 43%, 93%);
$neutral-blue: hsl(218, 22%, 67%);
$font-stack: 'Karla', sans-serif;
$body-copy: 16px;